.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000 !important;
}

.rContainer {
  background-color: white;
  padding: 20px;
  width: 28rem;
  position: relative;
  border-radius: 10px;
}

.rClose {
  font-size: 25px;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  cursor: pointer;
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 12px;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.checkbox{
  width: 40px;
  height: 40px;
}

.room {
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color:  #4B966E;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.rButton.active {
  background: linear-gradient(rgba(32, 113, 80, 0.4), rgba(32, 113, 80, 0.4));
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid black;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.feedback {
}
.button-cont {
  margin-top: 1.5rem;
}

button.explore {
  background-color: white !important;
  border: 2px solid #167341;
  color: #167341 !important;
}

button.home {
  background-color: #0F5A32 !important;
  color: white !important;
}

button.home:hover {
  background-color: #167341 !important;
  color: white !important;
}

p {
  margin-top: 1rem;
}

.tooltips {
  cursor: pointer;
  position: relative;
}

.tooltip-text {
  visibility: visible;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -17px;
  left: 115%;
}

.book {
  font-weight: 600;
  color: black;
}

span {
  color: gray;
}

@media (max-width: 576px) {
  .rContainer {
    width: 90%;
  }
}
