.RItem {
  cursor: pointer;
  box-shadow: -1px 0px 3px -1px rgba(103, 71, 54, 0.4);
  -webkit-box-shadow: -1px 0 3px -1px rgba(103, 71, 54, 0.4);
  -moz-box-shadow: -1px 0 3px -1px rgba(103, 71, 54, 0.4);
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1114px;
  margin: 0 auto;
  padding: 1.6rem;
  border-radius: 15px;
  box-shadow: 0 0 28px 0 rgb(211, 211, 211, 0.5);
  -webkit-box-shadow: 0 0 28px 0 rgb(211, 211, 211, 0.5);
  -moz-box-shadow: 0 0 28px 0 rgb(211, 211, 211, 0.5);
  transition: all ease-in 0.5s;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.hotelTitle{
  font-size: 25px;
  font-weight: 800;
  color:rgb(27, 118, 69) ;
 
}



@media only screen and (max-width: 768px) {
  .RItem {
    padding: 2rem;
    margin: 15px 20px;
  }
  
  .box {
    flex-direction: column; 
    text-align: center; 
  }
}
