.registerTitle {
    text-align: center;
    font-size: 3em;
}

.register-form label,
.register-form input {
    display: block;
}

.logInBtn {
    width: 100%;
}

.card-2 {
    max-width: 600px;
    min-width: 300px;
}

.span-link {
    color: #0F5A32;
    font-weight: 600;
}

.span-link:hover {
    color: #18683c;
    text-decoration: underline;
}


@media (max-width: 390px) {
    .registerTitle {
        font-size: 2rem !important;
    }

}
