footer {
  background-color: #f1f1f115 !important;
  margin-top: 8rem;
  box-shadow: 0 -10px 20px -5px rgba(55, 119, 91, 0.343);
}

footer ul li a  {
color: #0F5A32 !important;
}

.company-name {
  color: #0F5A32 !important;
}
