.header {
    height: 75vh;
    margin-bottom: 5rem;
    position: relative;
}

.header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10000;
}

.headerContainer .headerCont {
    height: 75vh;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContainer .headerCont .button-cont .headerBtn {
    width: 130px;
    border-radius: 5px;
}

.headerContainer .headerCont .headerTitle {
    color: white;
    font-size: 4rem;
}

.headerContainer .headerCont .headerDesc {
    font-size: 1.3rem;
    color: white;
}

.headerContainer .headerCont .headerSearch {
    box-shadow: 0 0 0 0 rgba(185, 185, 185, 1);
    -webkit-box-shadow: 0 -1px -1px -1px rgba(185, 185, 185, 1);
    -moz-box-shadow: 0 -1px -1px -1px rgba(185, 185, 185, 1);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    z-index: 1000;
}

.headerContainer .headerCont .headerSearch .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 0.55rem;
    position: relative;
}

.headerContainer .headerCont .headerSearch .headerSearchItem:nth-child(2) {
    min-width: 230px !important;
    position: relative;
}

.headerContainer .headerCont .headerSearch .headerSearchItem:nth-child(2) .date {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 300 !important;
}

.headerContainer .headerCont .headerSearch .headerSearchItem .headerSearchSelect {
    border: none;
    outline: none;
    background-color: transparent;
}

.headerContainer .headerCont .headerSearch .headerSearchItem .headerIcon {
    color: lightgray;
    font-size: 20px;
}

.headerContainer .headerCont .headerSearch .headerSearchButton .headerBtn2 {
    background-color: #4B966E;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.headerSearchButton > button {
    border-radius: 4px;
    background-color: #0F5A32 !important;
}

.headerSearchButton > button:hover {
    background-color: #4B966E !important;
    translate: 0 0.5px;
}

.header.otherPages {
  margin-bottom: 3rem;
  height: 75vh;
  background-position: top;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(18, 50, 43)), url("https://images.pexels.com/photos/1001965/pexels-photo-1001965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.headerList {
    display: flex;
    gap: 40px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerBtn1 {
    background-color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerBtn1:hover {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
    min-width: 50px;
}

.options {
    z-index: 2;
    position: absolute;
    top: 3rem;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #4B966E;
    color: #4B966E;
    background-color: white;
    cursor: pointer;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.headerContainer .headerCont .headerTitle-e {
    color: white;
    font-size: 3.2rem;
}

@media (max-width: 1200px) {
    .header {
        height: 75vh;
        margin-bottom: 5rem;
        position: relative;
    }
}

@media (min-width: 576px) and (max-width: 1220px) {
    .header {
        height: 75vh;
        margin-bottom: 5rem;
        position: relative;
    }

    .headerContainer .headerCont .headerTitle {
        margin-top: -6rem;
    }

    .headerContainer .headerCont .headerTitle-r {
        margin-top: 1rem;
    }

    .headerContainer .headerCont .headerTitle-e {
        color: white;
        font-size: 2.6rem;
    }

    /*.siCheckButton {*/
    /*   margin-top: 5rem;*/
    /*}*/

    .headerContainer .headerCont .headerDesc {
        display: none;
    }

    .headerContainer .headerCont .headerSearch {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        min-width: 25rem;
        max-width: 30rem;
        padding: 1.5rem 1.5rem;
        border-radius: 10px;
        position: absolute;
        top: 85%;
        transform: translateY(-50%);
    }

    .headerSearch .headerSearchItem {
        width: 100%;
        margin: 2px;
    }

    .headerSearch .headerSearchItem:nth-child(2) .date {
        left: 50%;
        transform: translate(-10%, 0%);
    }

    .headerSearch .headerSearchButton {
        margin-top: 0.5rem;
        width: 100%;
    }

    .headerSearch .headerSearchButton .headerBtn2 {
        width: 100%;
        border-radius: 8px;
    }
}

@media (max-width: 576px) {

    .headerContainer .headerCont {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerContainer .headerCont .headerTitle {
        font-size: 3.6rem !important;
        margin-bottom: 8rem;
    }

    .headerContainer .headerCont .headerTitle-r {
        margin-top: 6rem;
    }

    .headerContainer .headerCont .headerTitle-e {
        color: white;
        font-size: 2.4rem;
    }

    .headerContainer .headerCont .headerWrapper {
        justify-content: center;
    }

    .headerContainer .headerCont .headerDesc {
        display: none;
    }

    .headerContainer .headerCont .headerSearch {
        border-radius: 10px;
        padding: 1rem 1.5rem;
        z-index: 200 !important;
        width: 85%;
        flex-direction: column;
        box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 83%;
        transform: translateY(-50%);
    }

    .headerContainer .headerCont .headerSearch .headerSearchItem {
        width: 100%;
        margin: 3px;
    }

    .headerContainer .headerCont .headerSearch .headerSearchItem:nth-child(2) .date {
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .headerContainer .headerCont .headerSearch .headerSearchButton {
        margin-top: 0.5rem;
        width: 100%;
    }

    .headerContainer .headerCont .headerSearch .headerSearchButton .headerBtn2 {
        width: 100%;
        border-radius: 8px;
    }
}

@media (max-width: 390px) {
    .header {
        height: 70vh !important;
    }

    .headerContainer .headerCont .headerSearch {
        font-size: 0.8rem;
        position: absolute;
        top: 82%;
    }

    .headerContainer .headerCont .headerTitle {
        font-size: 2.6rem !important;
    }

    .headerContainer .headerCont .headerTitle-r {
        margin-top: 10rem;
    }

}


